student.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student" type="studentType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="studentType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="usn" type="xs:string"/>
      <xs:element name="division" type="xs:string"/>
      <xs:element name="presentCount" type="xs:nonNegativeInteger"/>
      <xs:element name="absentCount" type="xs:nonNegativeInteger"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
